@import url('https://fonts.cdnfonts.com/css/thank-you');

body
{
    background-color: black;
}
p
{
   font-family:  'Thank You', sans-serif;
   color: white;
   text-align: center;
   padding-top: 220px;
   font-size: 100px;
}
